<main class="container">
  <h1>Create your account</h1>

  <%= form_with scope: :user, url: registration_path, local: true do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name, required: true %>
    </div>

    <div>
      <%= form.label :email %>
      <%= form.email_field :email, required: true, autocomplete: "email" %>
    </div>

    <div>
      <%= form.label :password %>
      <%= form.password_field :password, required: true, autocomplete: "new-password" %>
    </div>

    <div>
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
    </div>

    <div>
      <%= form.submit "Create account" %>
    </div>
  <% end %>
</main>
